@model WebApplication4.Models.RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Event Register Form Flat Responsive Widget Template :: w3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Event Register Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/eventRegister/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/eventRegister/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- js -->
    <script type="text/javascript" src="~/eventRegister/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
</head>
<body>
    <script src="~/eventRegister/js/jquery.vide.min.js"></script>
    <!-- main -->
    <div class="center-container">
        <div class="w3ls-header">
            <div class="header-main">
                <h1>Event register Form</h1>
                <div class="header-bottom">
                    <div class="header-right w3agile">
                        <div class="header-left-bottom agileinfo">
                            @using (Html.BeginForm("EventRegister", "Account", FormMethod.Post, new { role = "form", autocomplete = false }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="icon1">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "Enter your user name", required = "" })
                                </div>
                                <div class="icon1">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <input type="email" name="Email" value="@Request["Email"]" placeholder="Enter your email" required="" />
                                </div> 
                                <div class="icon1">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <input type="text" class="numericOnly" value="@Request["PhoneNumber"]" onkeypress="return isNumberKey(event)" name="PhoneNumber" placeholder="Phone number" required="" />
                                </div>
                                <div class="icon1">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Confirm Password" })
                                </div>
                                <div class="icon1">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password" })
                                </div>
                                <div class="bottom">
                                    <input type="submit" value="Register" />
                                </div>
                            }

                            <div class="header-left-top">
                                <div class="sign-up"> <h2>or</h2> </div>
                            </div>
                            <div class="header-social wthree">
                                <ul>
                                    <li><a href="#" class="f"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
                                    <li><a href="#" class="t"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
                                    <li><a href="#" class="g"><i class="fa fa-google-plus" aria-hidden="true"></i>Google+</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header end here-->
        <!-- copyright start here -->
        <div class="copyright">
            <p>© 2017 Event Register Form. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
        </div>
        <!--copyright end here-->
    </div>
    <script type="text/javascript">
        $(".numericOnly").bind("paste", function (e) {
            e.preventDefault();
        });
        function isNumberKey(evt) {

            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
    </script>
</body>
</html>
